<ion-header>
  <ion-navbar color="primary">
    <ion-title>Lista de Pendientes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card *ngFor="let lista of _listaDeseos.listasNombre">
    <ion-item>
      <h2>{{ lista.nombre }}</h2>
    </ion-item>

    <ion-list>
      <ion-item>
        <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
        Tetris
      </ion-item>
      <ion-item>
        <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
        Nintento
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="irAgregar()">
      <ion-icon ios="ios-apps" md="md-apps"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
